<footer class="p-1 bg-dark text-white text-center mt-auto">
  <div class="container d-flex flex-row">
      <p class="lead ms-auto">Copyright &copy; 2022 Luis Jaar</p>
      <ul class="justify-content-end list-unstyled d-flex ms-auto">
        <li class="ms-3"><a class="text-light" target="_blank" href="https://www.linkedin.com/in/luisjaarcoding/"><i class="bi-linkedin"></i></a></li>
        <li class="ms-3"><a class="text-light" target="_blank" href="https://twitter.com/LuisEJaar"><i class="bi-twitter"></i></a></li>
        <li class="ms-3"><a class="text-light" target="_blank" href="https://github.com/LuisEJaar"><i class="bi-github"></i></a></li>
      </ul>
  </div>
  
</footer>