<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./head'); %>
</head>
<body>
    <header>
        <h1>Plantly</h1>
    </header>
    <%- body %>
    <!-- Footer / Navbar -->
    <footer>
        <%- include('./footer') %>
    </footer>
</body>
</html>