<article id= "scheduleOverlay" class="navExtension hidden">
    <!-- Overlay for Schedule -->
    <p>Update Coming!</p>
</article>
<article id= "addOverlay" class="navExtension hidden">
    <!-- Overlay for add -->
    <p>What would you like to add?</p>
    <div class="extimgcontainer">
        <a href="/newplant"><img id="addPlantNav" class="extensionimages" src="/assets/nav/Add Button/plant.png" alt="Plant"></a>
        <a href="/progress"><img id="addDiaryNav" class="extensionimages" src="/assets/nav/Add Button/diary.png" alt="Diary"></a>
        <a href="/progress"><img id="addEventNav" class="extensionimages" src="/assets/nav/Add Button/event.png" alt="Event"></a>
    </div>
</article>
<article id= "contactOverlay" class="navExtension hidden">
    <!-- Overlay for contact -->
    <p>We would love to hear from you!</p>
    <div class="extimgcontainer">
        <a href="/progress"><img class="extensionimages" src="/assets/nav/Contact Button/social-media.png" alt="social media"></a>
        <a href="/progress"><img class="extensionimages" src="/assets/nav/Contact Button/telephone-call.png" alt="call"></a>
        <a href="/progress"><img class="extensionimages" src="/assets/nav/Contact Button/email.png" alt="email"></a>
    </div>
</article>
<nav>
    <a href="/"><img id="garden" src="/assets/nav/mygarden.png" alt="my garden"></a>
    <img class="navButton" id="schedule" src="/assets/nav/schedule.png" alt="schedule">
    <img class="navButton" id="add" src="/assets/nav/add_circle.png" alt="add circle">
    <a href="/progress"><img id="edu" src="/assets/nav/magistrate.png" alt="education"></a>
    <img class="navButton" id= "contact"src="/assets/nav/contact.png" alt="contact us">
</nav>