<section class="indexTop pb-2 bg-dark text-light text-center text-sm-start">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
            <div>
                <h1>Welcome to
                    <span class="text-warning">Plantily</span>
                </h1>
                <p class="lead my-4">
                   Plantily was born from a genuine desire to know what my plant babies are up to. Let my passion provide for your needs by using plantily to handle your gardening tracking.
                </p>
                <h3>To get started simply...</h3>
                <ul class="lead">
                  <li>Create a profile</li>
                  <li>Add an area</li>
                  <li>Add a plant</li>
                  <li>Add to your diary!</li>
                </ul>
            </div>
            <img class="img-fluid w-50 d-none d-sm-block" src="./assets/Seeding-bro.svg" alt="Person Planting">
        </div>
    </div>
</section>

<!-- Boxes -->

<section class="p-5">
  <div class="container">
    <div class="row text-center g-4">
      <div class="col-md">
        <div class="card bg-dark text-light">
          <i class="bi bi-house h1 pt-3 "></i>
          <div class="card-body">
            <h5 class="card-title">Areas</h5>
            <p class="card-text lead">Plantily allows you to keep your plants organized by creating groups based on location.</p>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card bg-dark text-light">
            <i class="bi bi-flower1 h1 pt-3 "></i>
            <div class="card-body">
                <h5 class="card-title">Plants</h5>
                <p class="card-text lead">Create individual entries for your plants so that you can keep track of their current status.</p>
            </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card bg-dark text-light">
            <i class="bi bi-book h1 pt-3 "></i>
            <div class="card-body">
                <h5 class="card-title">Diaries</h5>
                <p class="card-text lead">Turn a new leaves and turning heads! Log your plants activity with our diary function and easily track their progress..</p>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>