<section class="indexTop bg-dark text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start">
    <div class="container ">
        <div class="d-sm-flex align-items-center justify-content-between">
            <div>
                <h1>Welcome to
                    <span class="text-warning">Plantily</span>
                </h1>
                <p class="lead my-4">
                   Plantily was born from a genuine desire to know what my plant babies are up to. Let my passion provide for your needs by using plantily to handle your gardening tracking.
                </p>
                <p class="lead my-4">If you'd like to participate in plantly then please click the login button below and get your journey started!</p>
                <button class="btn btn-success btn-lg" data-bs-toggle="modal" data-bs-target="#recipe">Lets plant!</button>
                
            </div>
            <img class="img-fluid w-50 d-none d-sm-block" src="./assets/Seeding-bro.svg" alt="Person Planting">
        </div>
    </div>
</section>
<!-- Newsletter -->
<section class="bg-success p-5" style="--bs-bg-opacity: .5;">
    <div class="container">
        <div class="d-md-flex justify-content-between align-items-center">
            <h3 class="mb-3 mb-md-0">Sign Up for our News Letter</h3>
            <div class="input-group news-input">
                <input
                    type="text"
                    class="form-control"
                    placeholder="Enter Email"
                    aria-label="Recipient's Email"
                    aria-describedby="button-addon2"
                >
                <button class="btn btn-dark btn-lg" type="button" id="button-addon2">Button</button>
            </div>
        </div>
    </div>
</section>

<!-- Boxes -->

<section class="p-3">
  <div class="container">
    <div class="row text-center g-4">
      <div class="col-md">
        <div class="card bg-dark text-light">
          <i class="bi bi-bicycle h1 pt-3 "></i>
          <div class="card-body">
            <h5 class="card-title">Track Plants</h5>
            <p class="card-text lead">Plantily offers users on demand plant tracking to keep track of all your leafy friends.</p>
            <a href="#" class="btn btn-success">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card bg-dark text-light">
            <i class="bi bi-alarm h1 pt-3 "></i>
            <div class="card-body">
                <h5 class="card-title">Plant Smart!</h5>
                <p class="card-text lead">Turn a new leaf? More like turn another page. Expand your knowledge with our care tips.</p>
                <a href="#" class="btn btn-success">Go somewhere</a>
            </div>
        </div>
    </div>
      <div class="col-md">
        <div class="card bg-dark text-light">
            <i class="bi bi-award h1 pt-3 "></i>
            <div class="card-body">
                <h5 class="card-title">Browse our store</h5>
                <p class="card-text lead">One good plant deserves another, and if you have two then why not three?</p>
                <a href="#" class="btn btn-success">Go somewhere</a>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Footer -->

<footer class="p-2 bg-dark text-white text-center position-relative">
    <div class="container">
        <p class="lead">Copyright &copy; 2022 Luis Jaar</p>
    </div>
</footer>

<!-- Modal -->
<div class="modal fade" id="recipe" tabindex="-1" aria-labelledby="recipeLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="recipeLabel">Please fill application</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Full Name:</label>
              <input type="text" class="form-control" id="recipient-name">
            </div>
            <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Name:</label>
                <input type="text" class="form-control" id="recipient-name">
            </div>
            <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Name:</label>
                <input type="text" class="form-control" id="recipient-name">
            </div>
            <div class="mb-3">
                <label for="message-text" class="col-form-label">Message:</label>
                <textarea class="form-control" id="message-text"></textarea>
            </div>
            <div class="mb-3">
              <label for="message-text" class="col-form-label">Message:</label>
              <textarea class="form-control" id="message-text"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Send message</button>
        </div>
      </div>
    </div>
  </div>
</div>