<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- My Styles -->
    <link rel="stylesheet" href="/styles/normalize.css">
    <link rel="stylesheet" href="/styles/style.css">

    <!-- Sourced Styles -->

    <!-- Header Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    
    <title>Plantly Home Page</title>
</head>
<body>
   <header>
        <h1>Plantly</h1>
   </header>
   <section class="plantSpace">
        <!-- Generate dynamically based on plants in db -->
        <!-- Use nth child for formatting lh / rh img -->
        <div id="plantless">
            <p>Look at all this space! <br> Lets get planting!</p>
        </div>
        <article id="addPlant">
            <form action="/plants" id="addplantForm" method="post">
                <fieldset>
                    <legend>Plant Facts</legend>
                    <input type="date" placeholder="plant_date" name="plant_date">
                    <input type="text" placeholder="name" name="name">
                    <input type="text" placeholder="type" name="type">
                    <input type="number" placeholder="height" name="height">
                    <input type="file" placeholder="picture" name="picture">
                </fieldset>
                <fieldset>
                    <legend>Sun Exposure</legend>
                    <input type="radio" id="fullSun" name="sun" value="Full Sun">
                    <label for="fullSun">Full Sun</label>
                    <input type="radio" id="Light Shade" name="sun" value="Light Shade">
                    <label for="Light Shade">Light Shade</label>
                    <input type="radio" id="Partial Shade" name="sun" value="Partial Shade">
                    <label for="Partial Shade">Partial Shade</label>
                    <input type="radio" id="Full Shade" name="sun" value="Full Shade" >
                    <label for="Full Shade">Full Shade</label>
                    <input type="radio" id="Dense Shade" name="sun" value="Dense Shade">
                    <label for="Dense Shade">Dense Shade</label>
               </fieldset>
               <button type="submit">Submit</button>
            </form>
        </article>
   </section>
   <!-- Generic Footer -->
   <footer>
        <article id= "scheduleOverlay" class="navExtension hidden">
            <!-- Overlay for Schedule -->
            <p>Update Coming!</p>
        </article>
        <article id= "addOverlay" class="navExtension hidden">
            <!-- Overlay for add -->
            <p>What would you like to add?</p>
            <div class="extimgcontainer">
                <img id="addPlant" class="extensionimages" src="./assets/nav/Add Button/plant.png" alt="Plant">
                <img id="addDiary" class="extensionimages" src="./assets/nav/Add Button/diary.png" alt="Diary">
                <img id="addEvent" class="extensionimages" src="./assets/nav/Add Button/event.png" alt="Event">
            </div>
        </article>
        <article id= "contactOverlay" class="navExtension hidden">
            <!-- Overlay for contact -->
            <p>We would love to hear from you!</p>
            <div class="extimgcontainer">
                <a href="#"><img class="extensionimages" src="./assets/nav/Contact Button/social-media.png" alt="social media"></a>
                <a href="#"><img class="extensionimages" src="./assets/nav/Contact Button/telephone-call.png" alt="call"></a>
                <a href="#"><img class="extensionimages" src="./assets/nav/Contact Button/email.png" alt="email"></a>
            </div>
        </article>
        <nav>
            <a href="index.html">
                <img id="garden" src="./assets/nav/mygarden.png" alt="my garden">
            </a>
            <img class="navButton" id="schedule" src="./assets/nav/schedule.png" alt="schedule">
            <img class="navButton" id="add" src="./assets/nav/add_circle.png" alt="add circle">
            <a href="edu.html">
                <img id="edu" src="./assets/nav/magistrate.png" alt="education">
            </a>
            <img class="navButton" id= "contact"src="./assets/nav/contact.png" alt="contact us">
        </nav>
   </footer> 
   <script src="/js/main.js"></script>
</body>
</html>