<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./head'); %>
</head>
<body>
   <header>
        <h1>Plantly</h1>
   </header>
   <section class="plantSpace">
        <!-- Generate dynamically based on plants in db -->
        <article id="addPlant">
            <% if(plants.length > 0) {%>
                <div>Dear Diary, today:</div>
                <form id="addplantForm">
                    <fieldset>
                        <legend>Plant Facts</legend>
                        <div>
                            <label for="plant_name">Name:</label>
                            <select name="name" id="plant_name" required placeholder="name">
                                <% for(var i = 0; i < plants.length; i++) {%>
                                    <option value="<%= plants[i]._id %>"><%= plants[i].name %></option>
                                  <% } %>
                            </select>
                        </div>
                        <div>
                            <label for="plant_height">Height (cm):</label>
                            <input type="number" id="plant_height" placeholder="height" name="height" min="0">
                        </div>
                        <!-- <input type="file" placeholder="picture" name="picture"> -->
                    </fieldset>
                    <fieldset id="plantnotes">
                        <legend><label for="plant_notes">General notes:</label></legend>
                        <div>
                            <textarea name="notes" id="plant_notes" cols="30" rows="10"></textarea>
                        </div>
                    </fieldset>
                </form>
                <button id="addToDiary">Add to my garden!</button>
            <%} else {%>
                <div id="plantless">
                    <br> Hmm.. looks like you need to add some plants first</p>
                </div>
            <%} %>
        </article>
   </section>
   <!-- Generic Footer -->
   <footer>
        <%- include('./footer'); %>
   </footer> 
   <script src="/js/main.js"></script>
   <script src="/js/newdiary.js"></script>
</body>
</html>