<section class="plantSpace">
    <!-- Generate dynamically based on plants in db -->
    <article id="addDiary">
        <% if(plants.length > 0) {%>
            <div>Dear Diary, today:</div>
            <form id="addplantForm">
                <fieldset>
                    <legend>Plant Facts</legend>
                    <div>
                        <label for="plant_name">Name:</label>
                        <select name="name" id="plant_name" required placeholder="name">
                            <% for(var i = 0; i < plants.length; i++) {%>
                                <option class="<%= plants[i].name %>" value="<%= plants[i]._id %>"><%= plants[i].name %></option>
                                <% } %>
                        </select>
                    </div>
                    <div>
                        <label for="date">Date:</label>
                        <input type="date" id="date" placeholder="date" name="date" required>
                    </div>
                    <div>
                        <label for="plant_height">Height (cm):</label>
                        <input type="number" id="plant_height" placeholder="height" name="height" min="0">
                    </div>
                    <!-- <input type="file" placeholder="picture" name="picture"> -->
                </fieldset>
                <fieldset id="plantnotes">
                    <legend><label for="plant_notes">General notes:</label></legend>
                    <div>
                        <textarea name="notes" id="plant_notes" cols="30" rows="10"></textarea>
                    </div>
                </fieldset>
            </form>
            <button id="addToDiary">Add to diary!</button>
        <%} else {%>
            <div id="plantless">
                <br> Hmm.. looks like you need to add some plants first</p>
            </div>
        <%} %>
    </article>
</section>
<script src="/js/main.js" defer></script>
<script src="/js/newdiary.js" defer></script>
