<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./head'); %>
</head>
<body>
   <header>
        <h1>Plantly</h1>
   </header>
   <section class="plantSpace">
        <!-- Generate dynamically based on plants in db -->
        <div class="progress"> 
            <!-- Loop through plants -->
            <h2>Pardon our progress!</h2>
            <img class="progresspic" src="./assets/Gardening-bro.png" alt="Gardening">
        </div>
   </section>
   <!-- Generic Footer -->
   <footer>
        <%- include('./footer'); %>
   </footer> 
   <script src="/js/main.js"></script>
</body>
</html>