* {
  box-sizing: border-box;
}

@font-face {
  font-family: stardew;
  src: url(../assets/Stardew_Valley.ttf);
}

.indexTop::before{
  display: block;
  content: "";
  height: 50px;
}

#newArea, #searchArea{ 
  max-width: 500px;
}

#areaIndex, #editArea, #plantForm{
  max-width: 600px;
}
 
input, select {
  align-content: center;
  text-align: center;
}

.stardewForm, .stardewBorder {
  background-color: rgb(255, 213, 142);
  font-weight: bold;
  border: 5px double darkgoldenrod;
}

#plantProfile {
  max-width: fit-content;
}

.stardewForm {
  font-size: 2rem;
  max-width: 90%;
}

.stardewBorder {
  font-size: 1.5rem;
}

.rightInputs  {
  margin-left: auto;
  font-size: 2rem;
  text-align: center;
}

.form-group  input {
  max-height: 3rem;
}

@media (max-width: 768px) {
    .navbar-center {
      text-align: center;
    }
}

@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .map {
    height: 100%;
    border-radius: 10px;
  }
}

.filepond--root, .filepond--image-preview-wrapper, .filepond--file {
  max-height: 20em;
  max-width: 20em;
  overflow: hidden;
}

/* Plant Display Page */
#plantPicture {
  height: 300px;
  width: 300px;
}

.spanM {
  margin-left: 2rem;
}

#plantPicture > img, #diaryPicture > img {
  margin-top: auto;
  margin-bottom: auto;
  min-width: 75%;
  min-height: 75%;
  max-width:100%;
  max-height:100%;  

}

#diaryPicture {
  min-height: 150px;
  max-height: 150px;
  min-width: 150px;
  max-width: 150px;
  border-radius: 50%;
  overflow: hidden;
}

.diaryIcons img {
  max-width: 25px;
}

.diaryIcons .col {
  min-width: 35px;
  padding: 0;
}

.diaryUpper {
  border-bottom: 5px double darkgoldenrod;
}