<div class="container">
    <h2>Edit Area</h2>
    <form action="/areas/<%= area.id%>?_method=PUT" method="POST">
        <%- include('_form_fields')%>
        <a href="/areas">Cancel</a>
        <button class="btn" type="submit">Update</button>
    </form>
</div>