* {
    box-sizing: border-box;
    user-select: none;
}

/* Main Header */
header {
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
    z-index: 1;
}

h1 {
    font-size: 4rem;
    text-align: center;
    padding-top: 2rem;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    user-select: none;
}

/* Adding plant section */
#addPlant, #editPlant {
    padding-top: 15%;
}

#addPlant > div, #editPlant > div {
    font-size: 2rem;
    font-weight: 1000;
    margin-bottom: 1rem;
}

fieldset {
    background-color: forestgreen;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font: italic small-caps bold 1rem cursive;
    border-radius: 1rem;
    margin-bottom: 1rem;
    border: 2px solid lime;
    box-shadow: -5px -5px 30px grey, 5px -5px 30px grey;
}

fieldset legend {
    position: relative;
    top: -10px;
    font-size: 1.2rem;
    border: 2px solid lime;
    background-color: white;
    padding: 0.2rem .8rem;
}

fieldset > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div > input {
    width: 50%;
}

label {
    font: italic small-caps bold 1rem cursive;
}

fieldset input, fieldset select {
    border-radius: 4px;
    text-align: center;
}

button {
    background-color: black;
    font: small-caps bold 24px sans-serif;
    color: white;
    padding: 1.2rem;
    border-radius: 1rem;
    box-shadow: 10px 10px 30px grey;
}

button:active {
    border: 5px solid orange;
}

/* Plant List Section */
section, section > div, footer  > article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

section {
    height: 70%;
    margin: 1rem 3rem;
    justify-content: center;
}

section > div  {
    height: 30%;
    font: small-caps bold 24px/1 sans-serif;
    justify-content: space-evenly;
}

.editdel {
    height: 2rem;
    transition-duration: 0s;
    transition-property: background, border-radius;
    margin-bottom: 3rem;
}

.editdelbox {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30%;
    left: 90%;
    bottom: 13rem; 
}

/* Nav Bar*/

nav, .navExtension {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    margin: 0 5%;
    width: 90%;
    border: 2px solid black;
    position: fixed;
    padding: 0.5rem 0;
    border-radius: 0.5rem;
    box-shadow: -5px -5px 30px grey, 5px -5px 30px grey;
}

nav {
    bottom: 0.3rem;
    background-color: white;
}

nav > img, nav > a > img, footer > article > img, .extensionimages {
    height: 3rem;
    transition-duration: 0.7s;
    transition-property: background, border-radius;
}

nav > img:hover, nav > a > img:hover, .extensionimages:hover, .editdel:active {
    background: orangered;
    border-radius: 20%;
}

/* Nav Extensions / overlays */

.navExtension {
    display: flex;
    flex-direction: column;
    bottom: 5rem;
    z-index: 1;
    height: 8.3rem;
    background-color: white;
}

.hidden {
    display: none;
}

footer > article {
    flex-direction: row;
}

.extensionimages {
    height: 4.5rem;
}

.extimgcontainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
}

/* Plants List */
.plantSpace {
    margin-top: 13rem;
    height: fit-content;
    padding-bottom: 6rem;
}

.plants .plantbox{
    width: 100%;
}

.plant {
    z-index: 0;
    position: relative;
}

.plantbox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 0.5rem;
    width: 100%;
    height: auto;
}

.plantbox img {
    width: 100%;
}

/* progress page */

.progresspic {
    width: 100%;
}

/* Diary Addition Page */

#plantnotes {
    align-items: center;
}





