<div class="container mt-5 stardewForm rounded-2 pb-2">
    <h2 class="pt-1">New Plant</h2>
    <form action="/plants" method="POST">
        <%- include('_form_fields')%>
        <div class="pt-3">
            <a class="me-4 btn btn-warning" href="/plants">Cancel</a>
            <button class="btn btn-primary" type="submit">Create</button>
        </div>
    </form>
</div>