* {
    box-sizing: border-box;
    user-select: none;
}
/* Common Styles */
body {
    height: 100vh;
}

/* Main Header */

h1 {
    font-size: 4rem;
    text-align: center;
    padding-top: 2rem;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    user-select: none;
}

/* Plant List Section */

section, section > div, footer  > article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

section {
    height: 70%;
    margin: 1rem 3rem;
    justify-content: center;
}

section > div  {
    height: 30%;
    font: small-caps bold 24px/1 sans-serif;
    justify-content: space-evenly;
}

/* Nav Bar*/

nav, .navExtension {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    margin: 0 5%;
    width: 90%;
    border: 2px solid black;
    position: fixed;
    padding: 0.5rem 0;
    border-radius: 0.5rem;
    box-shadow: -5px -5px 30px grey, 5px -5px 30px grey;
}

nav {
    bottom: 0.3rem;
}

nav > img, nav > a > img, footer > article > img{
    height: 3rem;
    transition-duration: 0.7s;
    transition-property: background, border-radius;
}

nav > img:hover, nav > a > img:hover {
    background: orangered;
    border-radius: 20%;
}

/* Nav Extensions / overlays */

.navExtension {
    display: flex;
    flex-direction: column;
    bottom: 5rem;
    z-index: 3;
    height: 8.3rem;
    background-color: white;
}

.hidden {
    display: none;
}

footer > article {
    flex-direction: row;
}

.extensionimages {
    height: 4.5rem;
}

.extimgcontainer {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly; 
}







